<div class="container py-5">

  <div class="row">
    <div class="col-10 col-lg-8 col-xl-8 mx-auto">
      <div class="card">
        <div class="card-body">
          <h3 class="card-title text-center">Account Login</h3>
          <hr>
          {{> message}}
          <form method="POST" action="/users/login">
            <div class="row mb-5 mt-5 g-2 ms-3">
              <label for="email" class="col-md-2 col-form-label ms-5">
                Email
              </label>
              <div class="col-md-6 me-2 ms-2">
                <input type="email" name="email" class="form-control" id="email" required>
              </div>
            </div>

            <div class="row mb-3 mt-5 g-2 ms-1">
              <label for="password" class="col-md-2 col-form-label ms-5">
                Password
              </label>
              <div class="col-md-6 me-2 ms-3 mb-5">
                <input type="text" name="password" class="form-control" id="password" required>
              </div>
            </div>

            <div class="d-flex justify-content-center mt-3 mb-2">
              <button class="btn btn-outline-primary me-2" type="submit">Login</button>
              <a href="/auth/facebook" class="btn btn-outline-primary">Facebook Login</a>
            </div>
          </form>

          <div class="container ms-3">
            <p class=" mt-2">
              No Account? <a href="/users/register">Register</a>
            </p>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>